/*! purgecss start ignore */
@layer base {
  .alert-danger {
    background-color:rgba(212, 80, 89, 0.1);
    border-left:8px solid #ec5963;
  }

  .alert-danger h5 {
    color:#ec5963;
  }

  .alert-danger svg {
    color:#6a282d;
  }

  .alert-danger svg:hover {
    color:#d45059;
  }

  .alert-warning {
    background-color:rgba(210, 188, 77, 0.1);
    border-left:8px solid #e9d155;
  }

  .alert-warning h5 {
    color:#e9d155;
  }

  .alert-warning svg {
    color:#695e26;
  }

  .alert-warning svg:hover {
    color:#d2bc4d;
  }

  .alert-info {
    background-color:rgba(50, 189, 225, 0.1);
    border-left:8px solid #37d2fa;
  }

  .alert-info h5 {
    color:#37d2fa;
  }

  .alert-info svg {
    color:#195f71;
  }

  .alert-info svg:hover {
    color:#32bde1;
  }

  .alert-success {
    background-color:rgba(69, 201, 98, 0.1);
    border-left:8px solid #4ddf6d;
  }

  .alert-success h5 {
    color:#4ddf6d;
  }

  .alert-success svg {
    color:#236431;
  }

  .alert-success svg:hover {
    color:#45c962;
  }
}
/* purgecss end ignore */