/* purgecss start ignore */
.createForm {
  grid-template-areas: "image" "name" "summary" "tags" "description" "create";
  grid-template-columns: 1fr;
  grid-template-rows: 16rem 1fr 1fr 1fr minmax(28rem, auto) 2rem;
}

.promotedGames {
  @apply grid;
  grid-template-areas: "title1" "cards1" "title2" "cards2";
}

.promotedGamesCards {
  @apply grid mt-4 gap-x-2 gap-y-2 grid-cols-1;
}

.profilePage {
  grid-template-areas: "image" "summary";
}

.gameFilter {
  grid-template-areas: "search" "sort";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.projectCard {
  grid-template-areas:
            "image image image image image"
            "header header header header header"
            "summary summary summary summary summary"
            "downloads downloads downloads downloads downloads"
            "created created created created spacing"
            "updated updated updated updated spacing"
            "tag1 tag2 tag3 tag4 spacing";
  grid-template-columns: auto auto auto auto 1fr;
  grid-template-rows: 8rem auto auto auto auto auto auto;
}

.projectInfo {
  grid-template-areas: "image" "projectInfo" "summary" "id" "created" "updated" "downloads" "tags";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto auto auto auto 2rem;
}

.memberList {
  grid-template-areas: "avatar name" "avatar role";
  grid-template-rows: 1.5rem 2.5rem;
  grid-template-columns: 4rem auto;
}

@screen sm {
  .createForm {
    grid-template-areas: "image name" "image ." "image summary" "image ." "image tags" "image ." "description description" ". ." "create .";
    grid-template-columns: 16rem auto;
    grid-template-rows: 4rem 0.75rem 4rem 0.75rem 4rem 2rem minmax(20rem, auto) 0.5rem 2rem;
  }

  .promotedGames {
    grid-template-areas: "title1 title1" "cards1 cards1" "title2 title2" "cards2 cards2";
  }

  .promotedGamesCards {
    grid-template-columns: 1fr 1fr;
  }

  .gameFilter {
    grid-template-areas: "search sort";
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
  }

  .profilePage {
    grid-template-areas: "image summary";
    grid-template-columns: 16rem 1fr;
  }

  .projectCard {
    grid-template-areas:
            "image header header header header header"
            "image summary summary summary summary summary"
            "image downloads downloads downloads downloads spacing"
            "image created created created created spacing"
            "image updated updated updated updated spacing"
            "image tag1 tag2 tag3 tag4 spacing";
    grid-template-columns: 12rem auto auto auto auto 1fr;
    grid-template-rows: 2.75rem 2.75rem 1.5rem 1.5rem 1.5rem 2rem;
  }

  .projectInfo {
    grid-template-areas: "image projectInfo" "image summary" "image id" "image created" "image updated" "image downloads" "image tags" "space space" "download download";
    grid-template-columns: 14rem 1fr;
    grid-template-rows: 4.25rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem auto 0.5rem auto;
  }
}

@screen md {
  .createForm {
    grid-template-rows: 4rem 0.5rem 4rem 0.5rem 4rem 3rem minmax(28rem, auto) 0.5rem 2rem;
  }

}

@screen lg {
  .promotedGames {
    grid-template-areas: "title1 title1 title1" "cards1 cards1 cards1" "title2 title2 title2" "cards2 cards2 cards2";
  }

  .promotedGamesCards {
    @apply grid-cols-3;
  }

  .projectCard {
    grid-template-areas:
            "image header header header header header header header header"
            "image summary summary summary summary summary summary summary summary"
            "image downloads created updated tag1 tag2 tag3 tag4 spacing";
    grid-template-columns: 8rem auto auto auto auto auto auto auto 1fr;
    grid-template-rows: auto auto auto;
  }
}

@screen xl {
  .promotedGames {
    grid-template-areas: "title1 title1 title1 . title2 title2 title2" "cards1 cards1 cards1 . cards2 cards2 cards2";
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
  }
}
/* purgecss end ignore */