@font-face {
  font-family: 'hero';
  src: url('Hero.woff') format('woff2'),
  url('Hero.woff') format('woff');
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.btn-diluv {
  @apply block w-full bg-diluv-500 text-white p-2 transition-colors duration-200 ease-in;
}

.btn-diluv:hover {
  @apply bg-diluv-700;
}

.btn-diluv:disabled {
  @apply bg-diluv-500 opacity-50 cursor-default;
}

@tailwind utilities;

.theme-dark {
  background-color: #2D3748;
  color: #F7FAFC;
}

.theme-light {
  background-color: #FFF;
  color: rgb(0, 0, 0);
}

.font-hero {
  font-family: "hero", sans-serif;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.15s, opacity 0.15s ease-out;
}

.expand-image {
  transition: 0.8s cubic-bezier(1, -1, 0, 1);
  clip-path: circle(50.0% at 50% 50%);
}

.expand-image:hover {
  clip-path: circle(70.7% at 50% 50%);
}


.projectCardLarge {
  grid-template-areas:
  "image header header header header header header header header"
  "image summary summary summary summary summary summary summary summary"
  "image downloads created updated tag1 tag2 tag3 tag4 spacing";
  grid-template-columns: 8rem auto auto auto auto auto auto auto 1fr;
  grid-template-rows: auto auto auto;
}

/*.projectCardSmall {*/
/*  grid-template-areas:*/
/*  "image"*/
/*  "image summary summary summary summary summary summary summary summary"*/
/*  "downloads created updated tag1 tag2 tag3 tag4 spacing spacing";*/
/*  grid-template-columns: 8rem;*/
/*  grid-template-rows: auto auto auto;*/
/*}*/
