@font-face {
  font-family: 'hero';
  src: url('Hero.woff') format('woff2'),
  url('Hero.woff') format('woff');
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.btn-diluv {
  @apply block w-full bg-diluv-500 text-white p-2 transition-colors duration-200 ease-in;
}

.btn-diluv:hover {
  @apply bg-diluv-700;
}

.btn-diluv:disabled {
  @apply bg-diluv-500 opacity-50 cursor-default;
}

@tailwind utilities;

.theme-dark {
  background-color: #2D3748;
  color: #F7FAFC;
}

.theme-light {
  background-color: #FFF;
  color: rgb(0, 0, 0);
}

.font-hero {
  font-family: "hero", sans-serif;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.15s, opacity 0.15s ease-out;
}

.expand-image {
  transition: 0.8s cubic-bezier(1, -1, 0, 1);
  clip-path: circle(50.0% at 50% 50%);
}

.expand-image:hover {
  clip-path: circle(70.7% at 50% 50%);
}

.minmax-height {
  min-height: 100vh;
  max-height: 100vh;
}

.area-image {
  grid-area: image;
}

.area-header {
  grid-area: header;
}

.area-summary {
  grid-area: summary;
}

.area-downloads {
  grid-area: downloads;
}

.area-created {
  grid-area: created;
}

.area-updated {
  grid-area: updated;
}

.area-tag1 {
  grid-area: tag1;
}

.area-tag2 {
  grid-area: tag2;
}

.area-tag3 {
  grid-area: tag3;
}

.area-tag4 {
  grid-area: tag4;
}

.area-name {
  grid-area: name;
}

.area-id {
  grid-area: id;
}

.area-tags {
  grid-area: tags;
}

.area-search {
  grid-area: search;
}

.area-sort {
  grid-area: sort;
}

.area-role {
  grid-area: role;
}

.area-avatar {
  grid-area: avatar;
}

@responsive {
  .projectCardLarge {
    grid-template-areas:
  "image header header header header header header header header"
  "image summary summary summary summary summary summary summary summary"
  "image downloads created updated tag1 tag2 tag3 tag4 spacing";
    grid-template-columns: 8rem auto auto auto auto auto auto auto 1fr;
    grid-template-rows: auto auto auto;
  }

  .projectCardMedium {
    grid-template-areas:
  "image header header header header header"
  "image summary summary summary summary summary"
  "image downloads downloads downloads downloads spacing"
  "image created created created created spacing"
  "image updated updated updated updated spacing"
  "image tag1 tag2 tag3 tag4 spacing";
    grid-template-columns: 12rem auto auto auto auto 1fr;
    grid-template-rows: 2.75rem 2.75rem 1.5rem 1.5rem 1.5rem 2rem;
  }

  .projectCardSmall {
    grid-template-areas:
  "image image image image image"
  "header header header header header"
  "summary summary summary summary summary"
  "downloads downloads downloads downloads downloads"
  "created created created created spacing"
  "updated updated updated updated spacing"
  "tag1 tag2 tag3 tag4 spacing";
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: 8rem auto auto auto auto auto auto;
  }

  .projectInfoSmall {
    grid-template-areas: "image" "name" "authors" "summary" "id" "created" "updated" "downloads" "tags";
    grid-template-columns: auto;
    grid-template-rows: auto 1rem auto auto 1rem 1rem 1rem 1rem 2rem;
  }

  .projectInfoMedium {
    grid-template-areas: "image name" "image authors" "image summary" "image id" "image created" "image updated" "image downloads" "image tags";
    grid-template-columns: 12rem auto;
    grid-template-rows: 1rem auto 1.5rem 1.25rem 1.25rem 1.25rem auto auto;
  }

  .gameFilterSmall {
    grid-template-areas: "search" "sort";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .gameFilterMedium {
    grid-template-areas: "search sort";
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
  }

  .memberList {
    grid-template-areas: "avatar name" "avatar role";
    grid-template-rows: 1.5rem 2.5rem;
    grid-template-columns: 4rem auto;
  }
}

.simplebar-scrollbar::before {
  background-color: #3DA6E4 !important;
  border:           1px solid #256489 !important;
}

/* Admonitions CSS */
.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

.admonition {
  background-color: rgba(118, 51, 219, 0.1);
  border-left: 8px solid #7633db;
}

.admonition h5 {
  color: #7633db;
}

.admonition-caution {
  background-color: rgba(230, 126, 34, 0.1);
  border-left: 8px solid #e67e22;
}

.admonition-caution h5 {
  color: #e67e22;
}

.admonition-tip {
  background-color: rgba(46, 204, 113, 0.1);
  border-left: 8px solid #2ecc71;
}

.admonition-tip h5 {
  color: #2ecc71;
}

.admonition-warning {
  background-color: rgba(231, 76, 60, 0.1);
  border-left: 8px solid #e74c3c;
}

.admonition-warning h5 {
  color: #e74c3c;
}

.admonition-important {
  background-color: rgba(52, 152, 219, 0.1);
  border-left: 8px solid #3498db;
}

.admonition-important h5 {
  color: #3498db;
}

.admonition-note {
  background-color: rgba(241, 196, 15, 0.1);
  border-left: 8px solid #f1c40f;
}

.admonition-note h5 {
  color: #f1c40f;
}

/* Remark Spoiler */
.spoiler { 
  color: black; 
  background-color:black;
}

.spoiler:hover{
  background-color:white; 
}